# Load Conda for direnv
source /opt/anaconda3/etc/profile.d/conda.sh

conda activate ./spinovate-venv
export PATH="/Users/abhishekkumbhar/Documents/GitHub/spinovate-dashboard/spinovate-venv/bin:$PATH"

